star-game.xcodeproj/project.xcworkspace/xcuserdata/liztrenholme.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
star-game/star-game.xcodeproj/project.xcworkspace/xcuserdata/liztrenholme.xcuserdatad/UserInterfaceState.xcuserstate
star-game/star-game.xcodeproj/xcuserdata/liztrenholme.xcuserdatad/xcdebugger/